<%- include('header1') -%>

<!-- <div class="container "> -->
  <div class="container-fluid row d-flex justify-content-around px-5 ">
      <div class="left-sidebar  rounded-4  col-lg-3 col-md-5 col-sm-12 col-12">
          <div class="profile-box pb-2 bg-white text-center rounded-2 mb-2 overflow-hidden">
              <img class="w-100 " src="/Assets/Background.png" alt="">
              <div class="">
                  <img class="rounded-circle border border-white" style="margin-top: -60px;" src="/Assets/Profile.jpg" alt="">
                  <h5>Sajad Ali Ismail</h5>
                  <span class="text-center" style="font-size: smaller;">Developer | Learning at Brocamp | Passionate
                      about
                      Web
                      Development </span>
                      <hr>
                  <ul style="font-size: x-small;" class="list-group text-start p-2">
                      <li class="d-flex justify-content-between">
                          Who's viewed your profile <span>68</span>
                      </li>
                      <li class="d-flex justify-content-between">
                          Impressions on last post<span>450</span>
                      </li>
                      <li class="d-flex justify-content-between">
                          Connections <span>995</span>
                      </li>
                  </ul>
              </div>
              <div class=" text-start">
                      <img width="20" src="/Assets/Bookmark.png" alt="Bookmark">
                      <span style="font-size: x-small;">My Items</span>
              </div>
          </div>

          <div class=" bg-white p-2 rounded-2">
              <h6>Recent</h6>
              <ul class="list-inline text-start">
                  <li><img width="15" src="/Assets/group.png" alt=""><span style="font-size: small; margin-left: 2px;">Web development</span></li>
                  <li><img width="15" src="/Assets/group.png" alt=""><span style="font-size: small; margin-left: 2px;">User interface</span></li>
                  <li><img width="15" src="/Assets/group.png" alt=""><span style="font-size: small; margin-left: 2px;">LinkedIn Learning</span></li>
                  <li><img width="15" src="/Assets/group.png" alt=""><span style="font-size: small; margin-left: 2px;">Software Developer</span></li>
                  <li><img width="15" src="/Assets/group.png" alt=""><span style="font-size: small; margin-left: 2px;">HR circle</span></li>
                  <li><img width="15" src="/Assets/group.png" alt=""><span style="font-size: small; margin-left: 2px;">Frontend Developers</span></li>
                  <li><img width="15" src="/Assets/group.png" alt=""><span style="font-size: small; margin-left: 2px;">Jobs 4 devs</span></li>
              </ul>
          </div>
      </div>
      <div class="col-lg-6 col-md-7 col-sm-12 col-12 container-fluid">
          <div class=" bg-white rounded-4 col p-2">
             <div class=" row d-flex align-items-center justify-content-center">
                  <div class="col-1 m-0 p-0 d-flex align-items-center">
                  <a href="#"><img class="text m-2 me-0 rounded-circle" style="width: 30px;" src="/Assets/Profile.jpg"></a>
                  </div>
               <div class="p col-10">
                      <input class="m-2 rounded-5 ps-2 border-1 outline-1 " style="width: 100%; height: 40px;" name="writepost"  placeholder="Add post" rows="1"></textarea>
                  </div>
              </div>
              <div class="d-flex justify-content-around align-items-center row">
                  <div class="col d-flex justify-content-center gap-1  ">
                          <img class="" style="width: 20px;" src="/Assets/photo.png">
                          <span>Media</span>
                  </div>
                  <div class="col d-flex justify-content-center gap-1">   
                          <img class="" style="width: 20px;" src="/Assets/calendar.png">
                          <span>Event</span>
                  </div>
                  <div class="col d-flex justify-content-center">
                      <button class="btn btn-light">
                          <span>POST</span>
                      </button>
                  </div>
              </div>
          </div>
          <div class="container col bg-white rounded-4 my-2 p-2">
              <div class="row p-2 d-flex align-items-center ">
                  <img class="rounded-circle p" style="width: 50px; height: 30px; margin-right: 3px;" src="/Assets/pro1.jpg">
                  <div class="row ps-0" style="width: 70%;">
                      <span class="" style="font-size: 15px;">Max Waller</span>
                      <span style="font-size: 10px;">Software developer at Microsoft</span>
                      <span style="font-size: 10px;">1d</span>
                  </div>
              </div>
              <div style="font-size: smaller;" class="col p-2">
                  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eligendi quos, est facere quod consectetur ex atque, laudantium illum architecto, ipsum placeat unde ad nostrum maxime! <br><br>

                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum iure, placeat voluptates reiciendis blanditiis assumenda inventore quo quisquam! Nemo expedita hic unde id repudiandae earum, minus, veniam consequatur, dolores impedit magnam nostrum repellendus ab quasi. Neque dolores ipsam et esse.<br><br>

                  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Esse beatae molestiae repellendus similique consectetur, temporibus magnam labore placeat debitis cumque aliquam fuga nisi quasi rerum exercitationem ratione voluptatem dolorum quis nulla quos? Atque aperiam, aspernatur labore facilis, voluptates pariatur unde magni minus quidem, perferendis magnam quibusdam delectus veritatis nihil totam.
              </div>
              <div class="row p-2">
                  <img src="/Assets/post1.jpg">
              </div>
              <div style="font-size: smaller;" class="p-2">
                  <span>Vishnu and 15 others liked your post</span>
                  <span>3 comments</span>
              </div>
              <div class="p-2 d-flex justify-content-around" style="font-size: smaller;">
                 <div><img style="width: 20px; margin-right: 3px;" src="/Assets/like.png"><span>Like</span></div>
                 <div><img style="width: 20px; margin-right: 3px;" src="/Assets/comment.png"><span>Comment</span></div>
                 <div><img style="width: 20px; margin-right: 3px;" src="/Assets/send.png"><span>Send</span></div>
              </div>
          </div>
         
       </div>
      <div class="right-sidebar col-lg-3 col-md-7 col-sm-12 col-12 ms-md-auto ">
          <div class="p-2 rounded-4  bg-white " >
              <div class="row">
                  <span class="w-75">LinkedIn News</span>
                  <img class="mx-0 my-1 p-0" style="width: 15px; height: 15px;  "  src="/Assets/information-button.png">
              </div>
              <div class="">
                  <ul class="list-inline ">
                      <li>
                          <a style="text-decoration: none; color: black; font-size: smaller;" href="#">
                              <span>&#9679&nbsp Israel Hamas war: Latest Update  <br></span>
                                <span style="font-size: smaller;">Top News &middot; 5600 readers</span>
                          </a>
                      </li>
                      <li>
                          <a style="text-decoration: none; color: black; font-size: smaller;" href="#">
                              <span>&#9679&nbsp Fintech funding sees a surge <br></span>
                                <span style="font-size: smaller;">2h ago &middot; 350 readers</span>
                          </a>
                      </li>
                      <li>
                          <a style="text-decoration: none; color: black; font-size: smaller;" href="#">
                              <span>&#9679&nbsp Green is in at FMCG firms <br></span>
                              <span style="font-size: smaller;">2d ago &middot; 560 readers</span>
                          </a>
                      </li>
                  </ul>
              </div>
          </div>
          <div class="container bg-white rounded-4 my-2 text-center">
              <div style="font-size: x-small;" class="d-flex gap-2 flex-wrap justify-content-center py-2 ">
                  <span>About</span>
                  <span>Accessibility</span>
                  <span>Help Center</span>
                  <span>Privacy and Terms</span>
                  <span>AD Choices</span>
                  <span>Advertising</span>
                  <span>Business services</span>
                  <span>Get the LinkedIn app</span>
                  <span>More</span>
              </div>
              <h6>LinkedIn Corporation &copy; 2023</h6>
          </div>

      </div>

  </div>
<!-- </div> -->
  <%- include('footer') -%>